@model StockAlimentaire.Models.Utilisateur

@{
    ViewData["Title"] = "Create";
}

<h2>Utilisateur - Création</h2>

<hr />
<div class="container">
    <div class="row text-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="utilisateur_nom" class="sr-only"></label>
                <input asp-for="utilisateur_nom" class="form-control" placeholder="Nom"/>
                <span asp-validation-for="utilisateur_nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateur_prenom" class="sr-only"></label>
                <input asp-for="utilisateur_prenom" class="form-control" placeholder="Prénom"/>
                <span asp-validation-for="utilisateur_prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateur_pseudo" class="sr-only"></label>
                <input asp-for="utilisateur_pseudo" class="form-control" placeholder="Pseudo"/>
                <span asp-validation-for="utilisateur_pseudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateur_motDePasse" class="sr-only"></label>
                <input asp-for="utilisateur_motDePasse" class="form-control" type="password" placeholder="Mot de passe"/>
                <span asp-validation-for="utilisateur_motDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-lg btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<!--
<div>
    <a asp-action="Index">Retour à la liste des utilisateur</a>
</div>
-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
