@model StockAlimentaire.Models.Utilisateur

@{
    ViewData["Title"] = "Delete";
}

<h2>Utilisateur - Suppression</h2>

<h3>Etes-vous sûrs de vouloir supprimer cet utilisateur ?</h3>
<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="edit-label">
            Nom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utilisateur_nom)
        </dd>
        <dt class="edit-label">
            Prénom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utilisateur_prenom)
        </dd>
        <dt class="edit-label">
            Pseudo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utilisateur_pseudo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="utilisateur_id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" asp-route-id="@Model.utilisateur_id" /> |
        <a asp-action="Index">Retour à la liste des utilisateurs</a>
    </form>
</div>
