@model StockAlimentaire.Models.Utilisateur

@{
    ViewData["Title"] = "Details";
}

<h2>Utilisateur - Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="edit-label">
            Nom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utilisateur_nom)
        </dd>
        <dt class="edit-label">
            Prénom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utilisateur_prenom)
        </dd>
        <dt class="edit-label">
            Pseudo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utilisateur_pseudo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.utilisateur_id">Modifier</a> |
    <a asp-action="Index">Retour à la liste des utilisateurs</a>
</div>
