@model StockAlimentaire.Models.Utilisateur

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="utilisateur_id" />
            <div class="form-group">
                <label asp-for="utilisateur_nom" class="control-label"></label>
                <input asp-for="utilisateur_nom" class="form-control" />
                <span asp-validation-for="utilisateur_nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateur_prenom" class="control-label"></label>
                <input asp-for="utilisateur_prenom" class="form-control" />
                <span asp-validation-for="utilisateur_prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateur_pseudo" class="control-label"></label>
                <input asp-for="utilisateur_pseudo" class="form-control" />
                <span asp-validation-for="utilisateur_pseudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateur_motDePasse" class="control-label"></label>
                <input asp-for="utilisateur_motDePasse" class="form-control" />
                <span asp-validation-for="utilisateur_motDePasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
