@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4 tuilered">
        <div class="Title">Produit en Rupture</div>
        <div class="Content"> 3 Produits</div>
    </div>
    <div class="col-md-4 tuile">
        <div class="Title">Nombre de Produits dans le Stock</div>
        <div class="Content"></div>
    </div>
    <div class="col-md-4 tuile">
        <div class="Title"></div>
        <div class="Content"></div>
    </div>
</div>

