@model DashboardModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row DashBoardContent">
    <div class="col-sm-4 tuile tuilered">
        <div class="Title">Produit en Rupture</div>
        <div class="Content" >
            <a style="color: white;" asp-controller="StockProduits" asp-action="Index" asp-route-userId="@Model.userId" asp-route-rupture="true"> @Model.nbProdRupt Produits</a>
        </div>
    </div>
    <div class="col-sm-4 tuile tuilegreen">
        <div class="Title">Nombre de Stock</div>
        <div class="Content" >
            <a style="color: white;" asp-controller="Stocks" asp-action="Index">@Model.nbStock Stock(s)</a>
        </div>
    </div>
    <div class="col-sm-4 tuile tuileblue">
        <div class="Title">Liste de Course</div>
        <div class="Content">
            <a style="color: white;" asp-controller="StockProduits" asp-action="Index" asp-route-userId="@Model.userId" asp-route-course="true"> GO </a>
        </div>
    </div>
</div>

