@model StockAlimentaire.Models.Stock

@{
    ViewData["Title"] = "Delete";
}

<partial name="_NavBar" />

<h2>Stock - Suppression</h2>

<h3>Etes-vous sûrs de vouloir supprimer ce stock ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="edit-label">
            Nom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock_nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" asp-action="Delete" asp-route-id="@Model.stock_id" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
