@model IEnumerable<StockAlimentaire.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<partial name="_NavBar" />

<h2>Stocks</h2>

<p>
    <a asp-action="Create">Créer un stock</a>
</p>
<table class="table" id="liste">
    <thead>
        <tr>
            <th>
                Nom du stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stock_nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stock_id"><i class="glyphicon glyphicon-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.stock_id"><i class="glyphicon glyphicon-search"></i></a>
                <a asp-action="Delete" asp-route-id="@item.stock_id"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
