@model StockAlimentaire.Models.AddProdStockModel

@{
    ViewData["Title"] = "Ajouter un produit dans un stock";
}

<partial name="_NavBar" />

<h2>Ajouter le produit</h2>

<h4>Produit : @Model.produit.nomProd </h4>
<hr />
<div class="container">
    <div class="row text-center">
        <form asp-controller="StockProduits" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="produit_id" asp-for="stoProd.produit_id" value="@Model.produit.idProd" />
            <input type="hidden" name="stockProduit_id" asp-for="stoProd.stockProduit_id" value="0" />
            
            <dl class="dl-horizontal">
                <dt>
                    <label asp-for="stoProd.stock_id" class="edit-label"> Choix du stock </label>
                </dt>
                <dd>
                    <select name="stock_id" asp-for="stoProd.stock_id" class="form-control">
                        <option value="">--Choisir un stock--</option>
                        @foreach (Stock sto in Model.lStock)
                        {
                            <option value="@sto.stock_id">@sto.stock_nom</option>
                        }
                    </select>
                </dd>
                <dt>
                    <label asp-for="stoProd.stockProduit_qteStock" class="edit-label"> Quantité </label>
                </dt>
                <dd>
                    <input name="stockProduit_qteStock" asp-for="stoProd.stockProduit_qteStock" class="form-control" />
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-lg btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des produits</a>
</div>

