@model StockAlimentaire.Models.Produit

@{
    ViewData["Title"] = "Edit";
}

<h2>Produit - Modification</h2>
<hr />
<div class="container">
    <div class="row text-center">
        <form asp-action="Edit" asp-route-id="@Model.idProd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idProd" />

            <dl class="dl-horizontal">
                <dt>
                    <label asp-for="nomProd" class="edit-label">Nom</label>
                </dt>
                <dd>
                    <input asp-for="nomProd" class="form-control" />
                    <span asp-validation-for="nomProd" class="text-danger"></span>
                </dd>
            </dl>

            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-lg btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des produits</a>
</div>

