@model StockAlimentaire.Models.StockProduit

@{
    ViewData["Title"] = "Delete";
}

<h2>Stock produit - Suppression</h2>

<h3>Etes-vous sûrs de vouloir supprimer ce stock de produit ?</h3>
<div>
    <h4>StockProduit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="edit-label">
            ID produit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.produit_id)
        </dd>
        <dt class="edit-label">
            ID stock
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock_id)
        </dd>
        <dt class="edit-label">
            Quantité produit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stockProduit_qteStock)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="stockProduit_id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" asp-route-id="@Model.stockProduit_id" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
