@model StockAlimentaire.Models.StockProduit

@{
    ViewData["Title"] = "Details";
}

<partial name="_NavBar" />

<h2>Stock produit - Details</h2>

<div>
    <h4>StockProduit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="edit-label">
            ID produit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.produit_id)
        </dd>
        <dt class="edit-label">
            ID stock
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock_id)
        </dd>
        <dt class="edit-label">
            Quantité produit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stockProduit_qteStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.stockProduit_id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
